@font-face {
    font-family: 'DM Sans';
    src: url('https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
}
body {
    font-family: 'DM Sans', sans-serif;
}

.tsb {
    font-weight: 600;
}

.tb {
    font-weight: 700;
}

.twr {
    font-weight: 400;
}

.rr {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.rb {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar-brand img {

}
